#cheatsheet {
  padding: 3em;
  font-family: Nunito, Arial, sans-serif;
  background: #d9e3f1;
  font-weight: 400;
  font-size: 14px;
}

#cheatsheet h1 {
  text-align: center;
  margin: 0.5em 0 1em;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: #485785;
}

#cheatsheet > div {
  column-gap: 0;
}

#cheatsheet article {
  margin: 0 0.5em 1em;
  padding: 0.25em 1.25em 0.25em;
  border-radius: 0.5em;
  break-inside: avoid;
  page-break-inside: avoid;
  display: inline-block;
  width: calc(100% - 3.5em);

  /* https://github.com/niklasvh/html2canvas/issues/1856 */
  /* box-shadow: rgba(109, 114, 120, 0.2) 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.2) -3px -2px 4px 0px inset; */
  background: url("../morph_bg.png");
  background-size: cover;

  /* https://stackoverflow.com/questions/5314726/css-multi-column-layout-of-list-items-doesnt-align-properly-in-chrome */
  display: inline-block;

  /* https://github.com/niklasvh/html2canvas/issues/1497 */
  position: relative;
}

#cheatsheet article h3 {
  margin: 1em 0 1em;
}

#cheatsheet article > p {
  margin: -0.75em 0 0;
}

#cheatsheet code {
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin: 1.25em 0 0.5em;
}

#cheatsheet p {
  margin: 0.5em 0 1em;
  color: #7b8ab8;
}

#cheatsheet code.plaintext {
  color: hotpink;
}

/*!
	Theme: GitHub
	Description: Light theme as seen on github.com
	Author: github.com
	Maintainer: @Hirse
	Updated: 2021-05-15
  
	Outdated base version: https://github.com/primer/github-syntax-light
	Current colors taken from GitHub's CSS
  */

.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
