$padding-xs: 0.5em;
$padding-s: 1em;
$padding-m: 2em;
$padding-l: 3em;

$size-s: 2em;
$size-m: 3em;
$size-l: 4.5em;
$size-xl: 6.5em;

$font-size-s: 1em;
$font-size-m: 1.2em;
$font-size-l: 1.5em;

$color-accent: #f6d51e;
$color-gray: #777;
$color-white: #fff;
$color-background: #f2f2f9;
$color-black: #000;

$border-width-m: 5px;

$transition: 0.5s;

$font-family: Verdana, Geneva, Tahoma, sans-serif;

$spacer: 1em;
